// custom theme vars
$primary: #c167ef;
$secondary: #10bcee;
$dark: #2b3041;
$light: #f3f6f9;

// Navbar variables
$navbar-padding-y: 1rem;
$navbar-dark-hover-color: $secondary;
$navbar-dark-color: #fff;
$navbar-toggler-border-radius: 5px;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
// scss-docs-start btn-variables
$button-radius: 50px;
$button-padding-x: 30px;
$button-padding-y: 10px;

$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;

$btn-padding-x: $button-padding-x;
$btn-padding-x-sm: $button-padding-x;
$btn-padding-x-lg: $button-padding-x;

$btn-padding-y: $button-padding-y;
$btn-padding-y-sm: $button-padding-y;
$btn-padding-y-lg: $button-padding-y;
// scss-docs-end btn-variables

$line-height-base: 1.7;